/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* initial fonts */
@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/Segoe\ UI.ttf");
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("./assets/fonts/Segoe\ UI\ Bold.ttf");
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bcc0c4;
  border-radius: 10px;
}

/* scrollbar show on hover */
.no-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  visibility: hidden;
}
.scrollbar-parent:hover .no-scrollbar::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* input filed type number ar side ar arrow remove korar jonno */
.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  appearance: none;
}

/* react picker animation */
#reaction-picker {
  animation: reactionPicer 0.2s cubic-bezier(0.25, 0.1, 0.25, 1) 0.8s forwards;
}

/* reaction picker smoth animation */
@keyframes reactionPicer {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* custom modal animation */
#custom-modal {
  animation: modalmain 0.4s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}
@keyframes modalmain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#custom-modal-box {
  animation: modalBox 0.2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}
@keyframes modalBox {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* headers setting menu animation */
#settings-menu {
  animation: settings-menu 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes settings-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* profile upload menu animation */
#profile-upload-menu {
  animation: profile-upload-menu 0.25s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes profile-upload-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* profile picture cropper custom css */
#profile-cropper .reactEasyCrop_Container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#profile-cropper .reactEasyCrop_CropAreaGrid {
  width: 350px !important;
  height: 350px !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
#profile-cropper .reactEasyCrop_CropAreaGrid::after {
  all: unset;
}
#profile-cropper .reactEasyCrop_CropAreaGrid::before {
  all: unset;
}

/* profile picture cropper custom css */
#cover-photo-cropper .reactEasyCrop_Container img {
  width: 100%;
  object-fit: cover;
}

#cover-photo-cropper .reactEasyCrop_CropAreaGrid::after {
  all: unset;
}

#cover-photo-cropper .reactEasyCrop_CropAreaGrid::before {
  all: unset;
}

#cover-photo-cropper .reactEasyCrop_CropAreaGrid {
  width: 100% !important;
  height: 100% !important;
}
