/* tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* initial fonts */
@font-face {
  font-family: "Gilroy Thin";
  src: url("./assets/fonts/Gilroy-Thin.ttf");
}

@font-face {
  font-family: "Gilroy Light";
  src: url("./assets/fonts/Gilroy-Light.ttf");
}

@font-face {
  font-family: "Gilroy Reguler";
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy SemiBold";
  src: url("./assets/fonts/Gilroy-SemiBold.ttf");
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy ExtraBold";
  src: url("./assets/fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/Segoe\ UI.ttf");
}

@font-face {
  font-family: "Segoe UI Bold";
  src: url("./assets/fonts/Segoe\ UI\ Bold.ttf");
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bcc0c4;
  border-radius: 10px;
}

/* scrollbar show on hover */
.no-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  visibility: hidden;
}
.scrollbar-parent:hover .no-scrollbar::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* input filed type number ar side ar arrow remove korar jonno */
.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  appearance: none;
}

/* react quils wysiwyg editor customize */
.quill .ql-toolbar{
  border-radius: 6px 6px 0 0;
}

.quill .ql-container{
  min-height: 150px;
  font-size: 20px;
  font-family: "Segoe UI";
  font-style: normal !important;
  font-weight: 500;
  color: #6e7074;
  border-radius: 0 0 6px 6px;
}
